In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://covid19.who.int/WHO-COVID-19-global-data.csv")
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
71435,2020-10-28,ZW,Zimbabwe,AFRO,12,8315,0,242
71436,2020-10-29,ZW,Zimbabwe,AFRO,5,8320,0,242
71437,2020-10-30,ZW,Zimbabwe,AFRO,1,8321,0,242
71438,2020-10-31,ZW,Zimbabwe,AFRO,41,8362,0,242
71439,2020-11-01,ZW,Zimbabwe,AFRO,5,8367,1,243

In [4]:
print(df.columns)

Index(['Date_reported', ' Country_code', ' Country', ' WHO_region',
       ' New_cases', ' Cumulative_cases', ' New_deaths', ' Cumulative_deaths'],
      dtype='object')

In [16]:
df = df.groupby(' Country').sum()
df

KeyError: ' Country'

In [17]:
df_test = pd.read_csv("https://covid19.who.int/WHO-COVID-19-global-data.csv")

print(df_test[df_test[' Country'] == 'Nepal'][' New_deaths'].sum())

937